.mainContent{
  display: grid;
  grid-template-columns: 79% 20%;
  column-gap: 1%;
}
.topContent{
  display: grid;
  grid-template-columns: 57% 40%;
  column-gap: 3%;
}
.bottomContent{
  display: grid;
  grid-template-columns: 57% 40%;
  column-gap: 3%;
}
.times{
  display: inline;
}
.i{
  padding-left: 5%;
}
/* .left-content{
  background-color: azure;
  box-shadow: 1px 1px 1px 1px azure;
} */
.left-img{
  height: auto;
  width: 70%;
}
.h2{
  color: brown;
}
.right-img{
  height: auto;
  width: 100%;
}
.right-content{
  display: grid;
  grid-template-columns: 47%  47%;
  margin-top: 6%;
  column-gap: 3%;
  background-color: azure;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.right{
  margin-top: 5%;
}
.header{
  overflow: hidden;
  background-color: dodgerblue;
  margin: 0;
  padding: 7px;
}
.work{
  color: aliceblue;
  float: left;
  display: block;
}
.youth{
  color: aliceblue;
  margin-left: 30%;
  margin-right: 20px;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  margin-left: 1%;
}
.header .search{
  float: right;
  width: 20%;
}
.search button {
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}
.search button:hover{
  background-color: rgb(62, 223, 62);
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}

li {
margin-left: 35px;
float: left;
}

li a {
display: block;
color: rgb(11, 10, 10);
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover {
background-color: rgb(193, 55, 55);
}
.advertisement{
  display: block;
  padding-top: 3%;
}
.ad-img{
  height: auto;
  width: 100%;
}
.footer-img{
  height: auto;
  width: 100%;
}
